.container {
  margin: 0 auto;
  width: 53%;
  border: 1px solid black;
}

.header {
  padding: 20px;
  background: #0f6bc8;
}

.card-list {
  margin: 15px;
}

.search-text * {
  color: white !important;
  font-size: 23px !important;
  font-weight: bold;
  border-bottom: 1px solid white;
}

.text-right {
  text-align: right !important;
}

.title {
  font-size: 20px;
  font-weight: bold;
}

.price {
  color: #ff9a3d;
  font-weight: bold;
}

.furniture-style {
  color: #447ccf;
}

.delivery-time {
  color: #2d76cc;
  font-weight: bold;
  text-decoration: underline;
}